body {
    font-family: monospace;
}

.title--graphic {
    margin: auto;
}

.text {
    color: white;
    margin-right: 20px;
}

.animatedText {
    font-size: 1cm;
}

.animation {
    animation: fadeAndScale 3s ease-out forwards;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 1);
}
@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale3d(0.5, 0.5, 1);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

.gold--amount {
    color: white;
    text-align: center;
    border-style: solid;
    border-color: gold;
    border-radius: 10px;
    border-width: thick;
    padding: 15px;
}

.name--box {
    font-size: 0.5cm;
    width: 133px;
    height: 40px;
    border: 5px solid purple;
    border-radius: 1rem;
    padding: 5px;
    margin: 2px;
    color: white;
    text-align: center;
}

.inventory--box {
    width: 600px;
    height: 120px;
    border: 10px solid white;
    background-color: gray;
    padding: 5px;
    margin: 2px;
    border-color: white;
    color: black;
    font-weight: bold;
    font-size: 0.6cm;
    text-align: center;
}

.inventory--list {
    text-align: left;
    font-weight: thin;
    font-size: 0.5cm;
}
