body {
    font-family: monospace;
}
div progress {
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    margin-bottom: 2px;
    width: 150px;
    height: 20px;
    position: relative;
}

progress::-webkit-progress-value {
    background: green;
}
progress::-webkit-progress-bar {
    background: red;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1) inset;
}
progress:before {
    content: attr(value);
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    vertical-align: middle;

    /*Position text over the progress bar */
    position: absolute;
    left: 0;
    right: 0;
}

.title--graphic {
    margin: auto;
}

.title--container {
    display: flex;
    justify-content: center;
}
.health--container {
    display: flex;
    justify-content: center;
}

.tools--container {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.portrait--container {
    display: flex;
    justify-content: center;
}

.GroupDetails--container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.gold--amount {
    color: white;
    text-align: center;
    border-style: solid;
    border-color: gold;
    border-radius: 10px;
    border-width: thick;
    padding: 15px;
}

.text {
    color: white;
    margin-right: 20px;
}

.characterNames--container {
    display: flex;
    justify-content: center;
}

.name--box {
    font-size: 0.5cm;
    width: 133px;
    height: 40px;
    border: 5px solid purple;
    padding: 5px;
    margin: 2px;
    color: white;
    text-align: center;
}

.inventory--box {
    width: 600px;
    height: 120px;
    border: 10px solid white;
    background-color: gray;
    padding: 5px;
    margin: 2px;
    border-color: white;
    color: black;
    font-weight: bold;
    font-size: 0.6cm;
    text-align: center;
}

.inventory--list {
    text-align: left;
    font-weight: thin;
    font-size: 0.5cm;
}
